@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --ion-font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

ion-content {
  --ion-font-family: 'Poppins', sans-serif;
}

ion-button {
  --ion-font-family: 'Poppins', sans-serif;
}

ion-title {
  --ion-font-family: 'Poppins', sans-serif;
}