@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

:root {
  --ion-font-family: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

ion-content {
  --ion-font-family: 'Inter', sans-serif;
}

ion-button {
  --ion-font-family: 'Inter', sans-serif;
}

ion-title {
  --ion-font-family: 'Inter', sans-serif;
}